<!DOCTYPE html>

<html>

    <head>
    	<title>  </title>
    </head>

    <body>
           <h1 align="center"> About Me </h1>
         <center>
           <hr>

           <p> 
           Hello, everyone! My name is Monisha Sarkar.I am currently pursuing my Bachelor's degree in Computer Science and Engineering at AIUB. I am in my 7th semester. I complete  my secondary education at Govt. Bangubandhu college.</p>
           
           </p>

        <hr>

        </center>
           	             	    
           </form>

    </body>

</html>