<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Album</title>
</head>
<body>
<center>
    <header>
   
        <h1>Photo Album</h1>
        <hr>
        
   
    </header>
 
    <main>
        <section class="feature">
            <h1>Nature Photo</h1>
            <img src="download (1).jfif" alt="Nature1" class="feature-image" width="600" height="300">
            <img src="download (2).jfif" alt="Nature2" class="feature-image"  width="600" height="300">
                       
        </section>
        <section class="feature">
            <h1>Travel Photo</h1>
            <img src="download (3).jfif" alt="Nature1" class="feature-image" width="600" height="300">
            <img src="download (4).jfif" alt="Nature2" class="feature-image"  width="600" height="300">
                       
        </section>
 
        
       
    </main>
    </center>
</body>
</html>