<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
        table {
            width: 100%;
            max-width: 700px;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <center>
        <main>
            <h2><b>Portfolio</b></h2>
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Year</th>
                </tr>
                <tr>
                    <td>BookNRelax: Instant Access To Hotel Reservation</td>
                    <td>BookNRelax is a web application that allows users to search for hotels and make instant reservations. It provides a user-friendly interface to browse through various hotels, view details, and securely book rooms for their desired dates.</td>
                    <td>2024</td>
                </tr>
                
            </table>
        </main>
    </center>
</body>
</html>
